.paper {
  padding: 16px;
  margin-bottom: 24px;
  background-color: var(--mui-palette-background-paper);
  border-radius: 8px;
  border: 1px solid var(--mui-palette-divider);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    align-items: center;
  }
}

.searchField {
  flex: 2;
}

.typeFilter {
  min-width: 150px;
  flex: 1;
}

.clearButton {
  border: 1px solid var(--mui-palette-primary-main);
}
